.app{
    padding: 0;
    margin: 0;
    
}
.Div_capa{
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: left;
    text-align: center;
    display: flex;
    padding: 20px;
 
    align-items: center;
  
}
.div_buttons_web{
    display: flex;
}

.div_buttons_mobile{
    display: none;
 
}
.Div_capa_1{
    width: 45%;
    color: rgb(5, 0, 0)  ;
    height: auto;
 
    margin-left: 50px;
    display: block;
    text-align: center;
}
.Div_capa_2{
    width: 50%;
    padding: 5%;
    align-items: center;
    height: auto;
   
}
.Div_capa_2 img{
    width:80%;
   height: auto;
    align-items: center;

}

.Servicos{
    width: 100%;
    align-items: center;
    text-align: center;
    margin: auto;
  
}
.Servicos_itens{
    display: flex;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: auto;
    justify-content: center;
  
}
.icone_servicos{
    width: 100px;
    height: 100px;
    color: #38b6ff;
    margin: auto;
    margin-top: 20px;
}
.Texto_car{
    margin-top: 60px;
}
.item_card{
    
    margin: 70px;
    height: 420px;
    width:  650px;
     border: 0px;
     box-shadow: 10px 10px 5px grey;
    font-size: 15px;
    
    

}

.titulo_servicos{
    font-weight: bold;
     font-size: 25px;
    margin-top:  10px;
}
.Div_Res_mob{

    height: auto;
    width: 100%;
   padding: 20px;
    align-items: center;
    text-align: center;
}


.Projetos{
    display: block;
    align-items: center;
    text-align: center;
    
}

.depoimentos{
    align-items: center;
    text-align: center;
   
    width: 100%;
    height: auto;
   
}
.divisao{
    width: 30%;
    background-color: #38b6ff;
    height: 3px;
    margin-bottom: 30px;
}
.divisao_1{
    width: 30%;
    background-color: #38b6ff;
    height: 3px;
    margin-top: 30px; 
    margin-left: 70%;
}
.Sobre_nos{
    background-color: rgb(251, 251, 251);
    text-align: center;
    align-items: center;
    width: 100%;
    margin: auto;
    height: auto;
    padding: 30px;
}


.Perguntas{
    align-items: center;
    text-align: center;
    background-color: rgb(251, 251, 251);
    width: 100%;
   
}

.mapa{
    width: 100%;
    height: 350px;
}
.Projetos{
    background-color: rgb(216, 216, 216);
}
.img_projeto{
    width: 80%;
}
.Div_responsividade{
    font-size: 15px;
    text-align: left;
    display: flex;
    width: 100%;
 
}
.Div_text_resp{
    width: 50%;
    margin: 60px;
    
}
.Img_respo{
    width: 100%;
    height: 90%;
 

}
.sUb_div_sobre {
    display: flex;
    width: 100%;
  

}
.div_sobre{
    text-align: left;
    width: 50%;
   padding: 15px;
   margin-left: 30px;

  
}
 
.div_sobre_init {
    height: auto;
    width: 50%;
    margin: 10px;
    text-align: left;
}
.text_founder{
    text-align: right;
    font-size: 20px;
    font-weight: bold;
}
@media (max-width: 750px)  {
    .Div_capa{
        display: block;
       margin-top: 50px;
       width: 100%;
       align-items: center;
       height: 100%;
    }
    .Div_capa_1 ,.Div_capa_2  {
            font-size: 13px;
            width: 100%;
            padding: 10px;
            margin: auto;
            text-align: center;
            align-items: center;
            height: auto;
    }
    .Div_capa_1  h2{
        font-size: 20px;       
    }
    .Sobre_nos{
        margin: 0;

    }
    .div_sobre{
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .Div_capa_2 img{
       width: 80%;
       margin: auto;
       align-items: center; 
    }
    .div_buttons_mobile{
        display: block;
        width: 100%;
        margin: auto;
        align-items: center;  
    }
   
    .div_buttons_web{
        display: none;
    }
    .Servicos_itens{
        display: block;
        align-items: center;
        padding-top: 20px;
        width: 100%;
      
    }
    .item_card{
        width: 100%;
        margin: auto;
        font-size: 15px;
        align-items: center;
    }
   
    .titulo_servicos{
        font-size: 15px;
    }
    
    .Div_text_resp{
        width: 100%;
        margin: 10px;
    }
    .sUb_div_sobre{
        display: block;
        width: 100%;
    }
    .respos_img{
        align-items: center;
      
        padding: auto;
      }
    .Img_respo{
        width: 100%;
        height: 280px;
    }
    .sUb_div_sobre{
        width: 100%;
        align-items: center;

    }
    .Div_responsividade{
        margin: auto;
        width: 90%;
        padding: 0;
        display: block;
        font-size: 25px;
        
        text-align: left;
        align-items: center;
    }
    .div_sobre{
        width: 100%;
        text-align: left;
       font-size: 15px;
    }
   
   .div_sobre_init{
        width: 100%;
        height: auto;
        margin-top: 30px;
        padding: 0;
        font-size: 20px;
    }
    .divisao_1{
        margin: 0;
        margin-left: 65%;
        padding: 0;
    
    }
   
   
   
   

}