.Div_capa{
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: left;
    text-align: center;
    display: flex;
    padding: 20px;
 
    align-items: center;
  
}
.div_buttons_web{
    display: flex;
}
.div_buttons_mobile{
    display: none;
 
}
.Div_capa_1{
    width: 45%;
    color: rgb(5, 0, 0)  ;
    height: auto;
 
    margin-left: 50px;
    display: block;
    text-align: center;
}
.Div_capa_2{
    width: 50%;
    padding: 5%;
    align-items: center;
    height: auto;
   
}
.Div_capa_2 img{
    width:80%;
   height: auto;
    align-items: center;

}

.Servicos{
    width: 100%;
    align-items: center;
    text-align: center;
    margin: auto;
  
}
.Servicos_itens{
    display: flex;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: auto;
    justify-content: center;
  
}
.icone_servicos{
    width: 100px;
    height: 100px;
    color: #38b6ff;
    margin: auto;
    margin-top: 20px;
}
.Texto_car{
    margin-top: 60px;
}
.item_card{
    
    margin: 70px;
    height: 420px;
    width:  650px;
     border: 0px;
     box-shadow: 10px 10px 5px grey;
    font-size: 15px;
    
    

}
.button_servicos{
    font-family: 'Quicksand';
    font-size: 20px;
    width: 300px;
    margin-top: 50px;
    color: white;
     
}
.titulo_servicos{
    font-weight: bold;
     font-size: 25px;
    margin-top:  10px;
}
.Div_Res_mob{

    height: auto;
    width: 100%;
   padding: 20px;
    align-items: center;
    text-align: center;
}


.Projetos{
    align-items: center;
    text-align: center;
    
}

.depoimentos{
    align-items: center;
    text-align: center;
    padding: 20px;
    height: auto;
   
}
.divisao{
    width: 30%;
    background-color: #38b6ff;
    height: 3px;
    margin-bottom: 30px;
}
.divisao_1{
    width: 30%;
    background-color: #38b6ff;
    height: 3px;
    margin-top: 30px; 
    margin-left: 70%;
}
.Sobre_nos{
  
    text-align: center;
    align-items: center;
    width: 80%;
    margin: auto;
    height: auto;
    padding: 10px;
}

.Perguntas{
    align-items: center;
    text-align: center;
 
    width: 100%;
}
.Solici_orcamento{
    background-image: url('./imagens/orcamento.png');
    text-align: center;
    height: 340px;
    align-items: center;
    padding: 70px;
    color: white;
}
.mapa{
    width: 100%;
    height: 350px;
}

.img_projeto{
    width: 80%;
}
.Div_responsividade{
    font-size: 15px;
    text-align: left;
    display: flex;
    width: 100%;
 
}
.Div_text_resp{
    width: 50%;
    margin: 60px;
    
}
.imagem_banner{
    width: 100%;
    height: 90%;
 

}
.sUb_div_sobre {
    display: flex;
    width: 100%;

}
 
.div_sobre_init , .div_sobre{
    height: 650px;
    width: 50%;
    align-items: right;
}
@media (max-width: 750px)  {
    .Div_capa{
        display: block;
       margin-top: 50px;
       width: 90%;
       align-items: center;
       height: 100%;
    }
    .Div_capa_1 ,.Div_capa_2  {
            font-size: 13px;
            width: 100%;
            padding: 10px;
            margin: auto;
            text-align: center;
            align-items: center;
            height: auto;
    }
    .Div_capa_1  h2{
        font-size: 20px;       
    }
    .Div_capa_2 img{
       width: 80%;
       margin: auto;
       align-items: center; 
    }
    .div_buttons_mobile{
        display: block;
        width: 100%;
        margin: auto;
        align-items: center;  
    }
    .div_buttons_mobile button{
        display: block;
        border-radius: 10px;
        width: 100%;
        font-family: 'Quicksand';
        font-size: 15px;
        margin-top: 20px;
    }
    .div_buttons_web{
        display: none;
    }
    .Servicos_itens{
        display: block;
        align-items: center;
        padding-top: 20px;
        width: 100%;
      
    }
    .item_card{
        width: 100%;
        margin: auto;
        font-size: 15px;
        align-items: center;
    }
   
    .titulo_servicos{
        font-size: 15px;
    }
    .button_servicos{
        font-size: 15px;   
    }
    .Div_text_resp{
        width: 100%;
        margin: 10px;
    }
    .sUb_div_sobre{
        display: block;
    }
    
    .imagem_banner{
        width: 70%;
        height: 350px;
    }
    .Div_responsividade{
        margin: 0px;
        width: 100%;
        padding: 0;
        display: block;
        font-size: 25px;
     
        text-align: center;
        align-items: center;
    }
    .div_sobre , .div_sobre_init{
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        font-size: 20px;
    }
   

}