.carousel {
  display: flex; /* Ativa o layout flexbox */
  
  align-items: center; /* Alinha os elementos verticalmente no centro */
  width: 100%; /* Largura do carrossel (ajuste conforme necessário) */
  margin:  auto; /* Centraliza o carrossel na tela */
 margin-top: 30px;
}
  
  .carousel-inner {
    display: flex;
   

    width: 100%;
  }
  
  .card {
    width: 250px; /* 3 cards por linha com 20px de espaçamento entre eles */
    margin: 5px;
    border: 1px solid #ccc;
    height: auto;
    padding: 5px;
    text-align: center;
    align-items: center;
  }

  .card img {
    width: 90%;
    height: 160px;
  }
  .card span{
    font-size: 12px;
  }
  .card h1 {
    font-size: 15px; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */
    margin-bottom: 5px; /* Espaçamento abaixo do título */
    color: #333; /* Cor do texto */
  }
  @media (max-width: 750px)  {
    .carousel-inner {
      display: block;
      width: 100%;
      margin-top: 30px;
    }
.carousel{
 
  align-items: center;
  margin: auto;
}
.card{
  width:  80%;
  margin: auto;
  margin-bottom: 10px;
  font-size: 20px;
}
.botao_p{
  display: none;
}

  }
