.Div_nossos_servico{
    text-align: center;
    align-items: center;
   
}

.Text_Prototipagem{
     display: block;
     width: 50%;
}
.Img_Prototipagem{
    width: 50%;
  
}
.div_secundaria{
    align-items: center;
    text-align: center;
    display: flex;
}
@media (max-width: 750px)  {
    .Text_Prototipagem{
        display: block;
        width: 100%;
    }
    .Img_Prototipagem{
        width: 80%;
        align-items: center;
        margin: auto;
    }
    .div_secundaria{
        display: block;
        width: 100%;
    }
    .imagem_servico{
        width: 100%;
    }

}
