.Div_nossos_servico{
    text-align: center;
    align-items: center;
   
}

.titulo_servico{
    margin-top: 50px;
}

.Text_Prototipagem{
     display: block;
     width: 50%;
}
.Img_Prototipagem{
    width: 50%;
  
}

.processo_criacao{
    height: 350px;
    width: 100%;
 
    display: flex;
    margin: auto;
    margin-top: 20px;
}
.criacao_text{
  
    width: 350px;
    height: 90%;

    margin-left: 140px;
    transform: rotate(270deg); /* Rotaciona o texto 90 graus no sentido horário */
   

  
}
.div_secundaria{
    align-items: center;
    text-align: center;
    display: flex;

}
.processos{
    width: 95%;
    height: 400px;
}
.Container_servicos{
    margin-top: 30px;
    width: 100%;
    border-radius: 10px;
    height: 450px;
    background-color: rgb(0, 0, 0);
    box-shadow: 15px 4px 8px rgba(0, 0, 0, 0.7);
}
.servico_item{
    display: block;
   
    border-radius: 15px;
    border:  4px solid rgb(98, 146, 242);
    width: 80%;
   font-family: 'Open Sans';
    height: 80%;
    background-color: white;
    font-size: 17px;
    margin: 40px;
}

 
@media (max-width: 750px)  {
    .Text_Prototipagem{
        display: block;
        width: 100%;
    }
    .div_secundaria{
        display: block;
        width: 100%;
    }
    .Img_Prototipagem{
        width: 80%;
        align-items: center;
        margin: auto;
    }
    .criacao_text{
        margin: auto;

    }
    .imagem_servico{
        width: 100%;
    }
    .processo_criacao{
       margin: 0px;
       padding: 0px;
       height: auto;
    }
    .processos{
        height: 500px;
        width: 100%;
        transform: rotate(90deg);
    }
    .Container_servicos{
         height: auto;
        padding: 5px;
    }
    .servico_item{
       padding: 10px;
    }

}
