.Div_principal{
    background-image: url('./imagens/fundo.svg');
    background-size:  cover;
    width: 100%;
    align-items: center;
    height:450px;
    
}
.sub_text{
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding: 30px;
    height: 150px;

 
}
.Div_sobre{
    text-align: center;
    align-items: center;
    padding: 60px;
    height: 350px;
}

.init{
    margin-left: 5px;
}
.Titulo{
    color: white;
    font-family: 'Open Sans';
    font-size: 35px;
    

}
.Div_sobre h3{
    color: white;
    font-family: 'Open Sans';
    font-size: 20px;
    

}
.div_text{
    width: 100%;

    text-align: center;
    align-items: center;
    font-size: 15px;
    height: 250px;
    padding: 40px;
    margin-top: 50px;
    display: flex;
    font-family: 'Open Sans';
}

.Div_cards{

  border-top: 1px solid black;
   width: 100%;
   padding: 10px;
   align-items: center;
   margin: 50px;
   font-family: 'Open Sans';
   font-size: 25px;
   height: 250px;
  

}
.Missao{
    background-image: url('./imagens/20943892.jpg');
    height: 210px;
    width: 100%;
}
@media (max-width: 750px)  {
   .div_text{
    display: block;
    width: 100%;
    margin-top: 0px;
   }
    .Div_cards{
        display: block;
        width: 100%;
        margin: auto;
        padding: 30px;
    }
    .sub_text{
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .Titulo{

     font-size: 25px;

    }
    .Div_sobre h3{
        font-size: 20px;
    }
    
}