.div_card_perguntas {
    display: grid;
    margin: 1px;
    padding: 0px;
  
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; /* Ajuste o espaçamentoentre os itens conforme necessário */
  }
  
  .card_pergunta {
  margin: 0px;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
  }
  
  .accordion_header {
   background-color: black;
    border-bottom: 1px solid #ddd;
    padding: 5px;
  color: white;
    font-weight: bold;
    width: 450px;
    margin: auto;
    align-items: center;
  }
  
  .accordion_body { 
    padding: 5px;
    width: 450px;
    border-bottom: 1px solid #716b6b;
    margin: auto;
    align-items: center;
  }
  @media (max-width: 750px)  {
    .div_card_perguntas{
      display: block;
      margin-top: 15px;
    }
    .accordion_header{
      width: 70%;
      padding: 10px;
      margin:  auto;
      margin-bottom: 10px;
      font-size: 20px;
    }
  }