.arrow {
  float: right;


}

.open {
  transform: rotate(90deg);

}
.accordion{
  width:50%;
  margin: auto;
  height: auto;

  padding: 10px;
}
.accordion-item {
 height: auto;
 transition: height 0.3s ease;
  margin: 20px;
 
}
.accordion-header{
  cursor: pointer;
  font-weight: bold;
}
.titulo{
  height: auto;
  margin: 20px;
  height: 100px;
  border: 1px solid rgb(214, 214, 214);
  

}
.IoIosArrowForward{
  size: 22;
}
.seta_fixa{
   left: 95%;
  margin: 1px;
   position: absolute;
   transform: rotate(90deg);
}

@media (max-width: 750px)  {

  .accordion{
   width: 100%;
 
  }
  .seta_fixa{
    size: 22;
  }
  .titulo{
    height: 50px;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
   
  }
  
  .accordion-item {
  
  
    height: auto;
    margin: 5px;
    font-size: 15px;
    width: 100%;
  }
  .IoIosArrowForward{
 size:  25;
  }
  
}