.Titulo_h2{
    font-weight: bold;
    font-size: 30px;
    font-family: 'Open Sans';
}
.sub_Titulo_h2{
    font-size: 20px;
    font-family: 'Open Sans';
    color: black;
}
.Titulo_h2_azul
{
    color:  #38b6ff ;
    font-size: 20px;
    font-family: 'Open Sans';

}
.Textos_secao {
  
    font-family: 'Open Sans';
    padding-top: 50px;
    color: rgb(5, 0, 0)  ;
 
}
.Textos_secao_2{
    font-size: 22px;
    font-family: 'Open Sans';
    margin: auto;
   
    color: rgb(0, 0, 0)  ;
}

@media (max-width: 750px)  {
    
    .Titulo_h2  {
      
        font-size: 30px;
      
    }
    .Titulo_h2_azul{
        font-size: 25px;
    }

    .Textos_secao {
        font-size: 25px;
       
        margin: auto;
        width: 100%;
       
    }
    .Textos_secao_2{
        font-size: 22px;
      
        margin: auto;
        width: 100%;
       
    }
    .imagem_banner{
        width: 100%;
        height: 350px;
    }


}
